
@import "../vendor/foundation/scss/normalize";
@import "settings";

// Make sure the charset is set appropriately
@charset "UTF-8";

// Behold, a minimal selection of Foundation5 components.
@import "../vendor/foundation/scss/foundation/components/grid";
// @import "../vendor/foundation/scss/foundation/components/accordion";
// @import "../vendor/foundation/scss/foundation/components/alert-boxes";
// @import "../vendor/foundation/scss/foundation/components/block-grid";
// @import "../vendor/foundation/scss/foundation/components/breadcrumbs";
@import "../vendor/foundation/scss/foundation/components/button-groups";
@import "../vendor/foundation/scss/foundation/components/buttons";
// @import "../vendor/foundation/scss/foundation/components/clearing";
// @import "../vendor/foundation/scss/foundation/components/dropdown";
// @import "../vendor/foundation/scss/foundation/components/dropdown-buttons";
// @import "../vendor/foundation/scss/foundation/components/flex-video";
@import "../vendor/foundation/scss/foundation/components/forms";
@import "../vendor/foundation/scss/foundation/components/icon-bar";
@import "../vendor/foundation/scss/foundation/components/inline-lists";
// @import "../vendor/foundation/scss/foundation/components/joyride";
// @import "../vendor/foundation/scss/foundation/components/keystrokes";
@import "../vendor/foundation/scss/foundation/components/labels";
// @import "../vendor/foundation/scss/foundation/components/magellan";
// @import "../vendor/foundation/scss/foundation/components/orbit";
// @import "../vendor/foundation/scss/foundation/components/pagination";
@import "../vendor/foundation/scss/foundation/components/panels";
// @import "../vendor/foundation/scss/foundation/components/pricing-tables";
// @import "../vendor/foundation/scss/foundation/components/progress-bars";
// @import "../vendor/foundation/scss/foundation/components/range-slider";
// @import "../vendor/foundation/scss/foundation/components/reveal";
@import "../vendor/foundation/scss/foundation/components/side-nav";
// @import "../vendor/foundation/scss/foundation/components/split-buttons";
@import "../vendor/foundation/scss/foundation/components/sub-nav";
// @import "../vendor/foundation/scss/foundation/components/switches";
@import "../vendor/foundation/scss/foundation/components/tables";
// @import "../vendor/foundation/scss/foundation/components/tabs";
// @import "../vendor/foundation/scss/foundation/components/thumbs";
@import "../vendor/foundation/scss/foundation/components/tooltips";
// @import "../vendor/foundation/scss/foundation/components/top-bar";
@import "../vendor/foundation/scss/foundation/components/type";
// @import "../vendor/foundation/scss/foundation/components/offcanvas";
@import "../vendor/foundation/scss/foundation/components/visibility";


@import "base";

//colors
$inset-highlight-color: darken($body-bg, 16%);

// @extend-elements
// original selectors
// .details,  .none
%inspection-element {
  font-weight: 400;
  font-size: rem-calc(20);
  border: 2px none $inset-highlight-color;
  border-top-style: dotted;
  margin: 50px 10px;
  padding: 10px 0;
}


.award {
  cursor: pointer;
}

.player {
  position: relative;
  top: 0;
  cursor: pointer;
  padding: 5px 0 10px 20px;
  width: 100%;
  .name {
    display: inline-block;
    width: 75%;
    font-size: rem-calc(24);
    font-weight: $font-weight-normal;
    white-space: nowrap;
  }
  .highscore {
    display: inline-block;
    width: auto;
    text-align: right;
    font-size: rem-calc(28);
    font-weight: $font-weight-bold;
    color: $warning-color;
    text-shadow: 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000, 5px 5px #000;
    transition: all 0.1s ease-out 0.1s;

  }
  &.selected {
    background-color: $warning-color;
    .name {
      color: $secondary-color;
      font-weight: $font-weight-bold;
    }
    .highscore {
      color: $success-color;
    }
  }
}

#scoreboard {
  .details {
    @extend %inspection-element;
    display: none;
  }

  .none {
    @extend %inspection-element;
    color: $info-color;
  }

  &.selected {

    & .details {
      @extend %inspection-element;
      display: block;
    }

    & .none {
      @extend %inspection-element;
      display: none;
    }
  }
}

